<link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="split  mb-4">
    <nav class="pane nav ">
        <ul class="main-nav">
           
            <li><a href="#">CV <span>Know more about me</span></a></li>
            <li><a href="#">Contact <span>A simple direct method of contact</span></a></li>
        </ul>
    </nav>
    <div class="pane profile">
        <div class="about-me">
            <img class="avatar" src="/img/Myself.jpg" alt="Picture of handsome Ayush">
            <h1>Hello, </h1>
            <p class="intro">I'm <i>Ayush</i> a ASP.net Developer from Mumbai. I create simplicistic, user focused designs, and I develop them with peace and love .</p>
            <p>
                Some of my skills include: C#, ASP.net, SQL, HTML, CSS, JavaScript basic, Python basic.
            </p>
            <div class="follow-me">
                <ul class="networks">
                    <li><span>I can be found on:</span></li>
                    
                    <li><a href="https://github.com/ayushkunbi" title="Github"><i class="fa fa-git"></i></a></li>
                    <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/ayush.kunbi/" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
