<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BLOG</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BLOG.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BLOG</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About Me!</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ViewContent" asp-action="Cview">All Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AddContent" asp-action="CAdd">Create Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="UT" asp-action="Add">Add Thoughts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="VUT" asp-action="Approved">User Thoughts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="VUT" asp-action="ViewMe">Approval List</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        @{
                            var admin = Context.Session.GetString("AViewer");
                            var user = Context.Session.GetString("UViewer");

                            if (admin == null && user == null)
                            {
                                <li class="card-dropdown nav-item">
                                    <a class="Ltext  text-decoration-none border-0 text-danger  " id="navbarDropdown">
                                                                <i class="fas fa-users"></i> Login
                                    </a>
                                    <div class="dropdown-content text-decoration-none">
                                        <a class="dropdown-item  " asp-controller="Login" asp-action="UserLogin">User</a>
                                        <a class="dropdown-item" asp-controller="Login" asp-action="CreatorLogin">Creator</a>
                                    </div>
                                </li>
                            }
                            else if (admin != null || user != null)
                            {
                    <li class="card-dropdown nav-item">
                        <a class=" nav-link  text-decoration-none border-0 text-danger font-weight-bold "id="navbarDropdown" ><i class="fas fa-user"></i> @user @admin </a>
                        <div class="dropdown-content text-decoration-none">
                            
                            <a class="dropdown-item" asp-controller="Login" asp-action="Logout">Logout</a>
                        </div>
                    </li>

                            }
                        }
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-4">
        <div class="container">
            &copy; 2023 - BLOG - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
