.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-property: -webkit-box-shadow;
    transition-property: -webkit-box-shadow;
    transition-property: box-shadow;
    transition-property: box-shadow, -webkit-box-shadow;
}

.shadow__btn {
    background: rgb(255, 0, 64);
    -webkit-box-shadow: 0 0 25px rgb(255, 0, 64);
    box-shadow: 0 0 25px rgb(255, 0, 64);
}

    .shadow__btn:hover {
        -webkit-box-shadow: 0 0 5px rgb(255, 0, 64), 0 0 25px rgb(255, 0, 64), 0 0 50px rgb(255, 0, 64), 0 0 100px rgb(255, 0, 64);
        box-shadow: 0 0 5px rgb(255, 0, 64), 0 0 25px rgb(255, 0, 64), 0 0 50px rgb(255, 0, 64), 0 0 100px rgb(255, 0, 64);
    }


.input {
    padding: 12px;
    border: black;
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    outline: none;
    color: dimgray;
}

    .input:invalid {
        -webkit-animation: justshake 0.3s forwards;
        animation: justshake 0.3s forwards;
        color: red;
    }

@-webkit-keyframes justshake {
    25% {
        -webkit-transform: translateX(15px);
        transform: translateX(5px);
    }

    50% {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
    }

    75% {
        -webkit-transform: translateX(15px);
        transform: translateX(15px);
    }

    100% {
        -webkit-transform: translateX-(15px);
        transform: translateX-(15px);
    }
}

@keyframes justshake {
    25% {
        -webkit-transform: translateX(15px);
        transform: translateX(15px);
    }

    50% {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
    }

    75% {
        -webkit-transform: translateX(15px);
        transform: translateX(15px);
    }

    100% {
        -webkit-transform: translateX-(15px);
        transform: translateX-(15px);
    }
}
